<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head.ejs") %>
  <body>
    <%- include("../components/nav.ejs") %>
    <div class="container">
      <h2>I'm about html</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque,
        saepe? Earum, asperiores? Impedit in omnis qui suscipit sit ex sint.
      </p>
    </div>
  </body>
</html>
